/*Fonts*/
@function rem($px, $base: 10px) {
    @return $px / $base * 1rem;
}

@mixin font-size-custom($size) {
    font-size: $size;
    font-size: rem($size);
}

/*Transitions*/
@mixin transition-custom($property: all, $time: 300ms, $a: 0.215, $b: 0.61, $c: 0.355, $d: 1 , $delay: 0ms ) {
    transition: $property $time cubic-bezier($a, $b, $c, $d) $delay;
}

/*Image fit*/
@mixin image-fit-area($layout) {
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    @if $layout == "wfha" {
        width: 100%;
        height: auto;

    }
    @else if $layout == "wahf" {
        width: auto;
        height: 100%;
    }
}

/*Box Shadow*/
@mixin one-box-shadow($h-shadow: 0, $v-shadow: 5px, $blur: 19px, $spread: -2px, $r: 0, $g: 0, $b: 0, $a: 0.85) {
    -webkit-box-shadow: $h-shadow $v-shadow $blur $spread rgba($r, $g, $b, $a);
    -moz-box-shadow: $h-shadow $v-shadow $blur $spread rgba($r, $g, $b, $a);
    box-shadow: $h-shadow $v-shadow $blur $spread rgba($r, $g, $b, $a);
}

/*Multiply*/
@function multiply ($number,$times){
    @return $number*$times;
}

/*Render frame*/
@mixin render-frame($color,$pad,$bg:none){
    $padX2:multiply($pad,2);
    content:'';
    position:absolute;
    top:0;
    left:$pad;
    width: calc(100% - #{$padX2} );
    height:100%;
    border:1px solid $color;
    background:$bg;
    z-index:-1;
}


@mixin flex-parent-with-alignment($vertical:center,$horizontal:flex-start){
  display:flex;
  align-items:$vertical;
  justify-content:$horizontal;
}


// font
@mixin font-style($font-family, $font-size, $line-height, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

//Anime hover
@mixin anime-hover {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background: $orange;
  transform: scaleX(0);
  transform-origin: bottom right;
  z-index: 0;
  transition: transform 250ms ease-in-out;
}

//Button 
@mixin btn-link {
  @include media-breakpoint-up(xl) {
    padding: 13px 20px;
  }

  @include responsive-up(1366px) {
    padding:13px 30px;
  }

  @include font-style($Raleway,14px,14px,$bold);
  color: $white;
  text-decoration: none;
  padding: 18px 30px;
  background: $grey-btn;
  border-radius: 26px;
  text-transform: uppercase;
  text-align: center;
  // transition: all 0.5s linear;
}

@mixin btn-voir {
  @include font-style($Raleway,14px,14px,$bold);
  padding: 9px 20px;
  color: $white;
  background: $grey-text;
  display: inline-block;
  border-radius: 16px;
  // transition: all 0.5s linear;
  width: 66px;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 16:28:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


// @keyframes move-up {
//   0% {
//     -webkit-transform: translateY(90px);
//     transform: translateY(90px);
//   }

//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }

  //flexbox
@mixin flexbox(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify($a: center){
  -webkit-justify-content: $a;
  -ms-justify-content: $a;
  justify-content: $a;
}
@mixin align($a: center){
  -webkit-box-align: $a;
  -webkit-align-items: $a;
  -moz-box-align: $a;
  -ms-flex-align: $a;
  align-items: $a;
}
@mixin flex(){
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1;
}